
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 <title>@ViewBag.Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/ui.all.css" rel="stylesheet" type="text/css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/redmond/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.facebook.multifriend.select.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery/core/json.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/console.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.facebook.multifriend.select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqModal.js")" type="text/javascript"></script>
    
</head>

<body id="index" >
   
            <div id="logindisplay">
                 @{ Html.RenderPartial("FacebookInit"); }
            </div>
<div id="short">
	<div id="main">
		<!--header -->
		<div id="header_short" class="hs_logo">
			<div class="hs_logo">
				<div class="left">
					<img alt="" src="@Url.Content("~/Content/smalllogo.png")" /></div>
				<div class="right">
					@{Html.RenderPartial("LoginButton");}
                </div>
				<div class="clear">
				</div>
			</div>
		</div>
		<!--header end-->
		<div id="middle">
    
            @RenderBody()
            </div>
            @{Html.RenderPartial("Footer");}
</div>
</div>

</body>

</html>
