@model PraLoup.WebApp.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">StartDateTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.Event.StartDateTime)</div>

    <div class="display-label">EndDateTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.Event.EndDateTime)</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Event.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Event.Description</div>

    <div class="display-label">Price</div>
    <div class="display-field">@String.Format("{0:F}", Model.Event.Price)</div>

    <div class="display-label">Create an Activity for this Event</div>
    <div class="display-field"></div>
</fieldset>

@if (Model.Permissions.HasFlag(PraLoup.BusinessLogic.Permissions.Edit)){
    <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event.EventId }) |
    
    @Html.ActionLink("Back to List", "Index")
    </p>
}

