@model PraLoup.WebApp.Models.ActivityDiscoveryModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.MyActivity != null && Model.MyActivity.Count() > 0)
{ 
    <table>
        <tr>            
            <th>
                Activity that I Organize
            </th>
        </tr>
        @foreach (var item in Model.MyActivity)
        {    
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @item.Event.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.MyFriendActivity != null && Model.MyFriendActivity.Count() > 0)
{ 
    <table>
        <tr>            
            <th>
                My Other Activities
            </th>
        </tr>
        @foreach (var item in Model.MyFriendActivity)
        {    
            <tr>
                <td>
                    @if (item.Permission.CanEdit)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @if (item.Permission.CanDelete)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
                <td>
                    @item.Event.Name
                </td>
            </tr>
        }
    </table>
}