@model IEnumerable<PraLoup.WebApp.Models.ActivityModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Event
        </th>
        
    </tr>

@foreach (var item in Model) {
    if (!item.Permissions.HasFlag(PraLoup.BusinessLogic.Permissions.View))
    {
        continue;
    }
    <tr>
        <td>
        @if(item.Permissions.HasFlag(PraLoup.BusinessLogic.Permissions.Edit))
        {
            @Html.ActionLink("Edit", "Edit", new { id=item.Activity.Id  }) 
        }
        
        @Html.ActionLink("Details", "Details", new { id = item.Activity.Id  }) |
        @if (item.Permissions.HasFlag(PraLoup.BusinessLogic.Permissions.Delete))
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.Activity.Id  })
        }
        </td>
        <td>
            @item.Activity.Event.Name
        </td>
    </tr>
}

</table>
