@using PraLoup.WebApp.Utilities
@model PraLoup.WebApp.Areas.Admin.Models.BusinessModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   <fieldset>
        <legend>Business</legend>
        @Html.EditorFor(model => model.Business);

        <div class="editor-label">
            @Html.RequiredLabelFor(model => model.Role)
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.Role, Model.Role.ToSelectList())
            @Html.ValidationMessageFor(model => model.Role)
            @Html.DescriptionFor(model => model.Role)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>        
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
