@inherits System.Web.Mvc.WebViewPage<PraLoup.DataAccess.Entities.Event>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDateTime)
            @Html.ValidationMessageFor(model => model.StartDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDateTime)
            @Html.ValidationMessageFor(model => model.EndDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
   
    </fieldset>
}
