@using PraLoup.WebApp.Areas.Admin.Resources;
@model PraLoup.WebApp.Areas.Admin.Models.AdminHomePageModel

@{
    ViewBag.Title = "Index";
}

<h2>@LocStrings.Tasks</h2>

@if (Model != null && Model.Message != null) { 
    <div class="adm_hm_msg">
    @Model.Message
    </div>
}

<ul class="Adm_tasks">
    <li>@Html.ActionLink(LocStrings.ManageMetro, "Index", "MetroArea")</li>
    <li>@Html.ActionLink("Generate Test Data", "CreateTestData", "Home")</li>
    <li>@Html.ActionLink("Manage Business", "Index", "Business")</li>
    <li>@Html.ActionLink("Manage Promotion", "Index", "Promotion")</li>
    <li>@Html.ActionLink("Manage Promotion Instance", "Index", "PromotionInstance")</li>
</ul>
