@helper DisplayTable(string listName, IEnumerable<PraLoup.DataAccess.Entities.Event> thingsToDo)
    { 
    <div class="ttd_lst">
        <div class="Ttd_lst_name"><h3>@listName</h3></div>
        @foreach (var e in thingsToDo)
        {
            @DisplayItem(e)
        }
    </div>
}
@helper DisplayItem(PraLoup.DataAccess.Entities.Event e)
    {
    <div class="ttd_ovw">
        <div class="ttd_img">
            @if (!String.IsNullOrEmpty(e.ImageUrl))
            { 
                <img src="@e.ImageUrl" title="@e.Name"/>
            }
        </div>
        <div class="ttd_info">
            <div class="ttd_name">
                <a href="@e.Url">
                    @e.Name
                </a>- <span class="ttd_loc">
                    @if (e.Venue != null)
                    { 
                        @e.Venue.DisplayedName
                    }
                </span>
            </div>
            <div class="ttd_desc">
                @e.Description
            </div>
            <div class="ttd_datetime">
                @e.StartDateTime.ToShortDateString()
                at
                @e.StartDateTime.ToShortTimeString()
            </div>
            <div class="ttd_prc">
                @e.Price
            </div>
        </div>
    </div>   
}