@model PraLoup.DataAccess.Entities.Offer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Offer</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginalValue)
            @Html.ValidationMessageFor(model => model.OriginalValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Saving)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Saving)
            @Html.ValidationMessageFor(model => model.Saving)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentValue)
            @Html.ValidationMessageFor(model => model.CurrentValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDateTime)
            @Html.ValidationMessageFor(model => model.StartDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDateTime)
            @Html.ValidationMessageFor(model => model.EndDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FinePrint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FinePrint)
            @Html.ValidationMessageFor(model => model.FinePrint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Available)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Available)
            @Html.ValidationMessageFor(model => model.Available)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bought)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bought)
            @Html.ValidationMessageFor(model => model.Bought)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

