@model IEnumerable<PraLoup.DataAccess.Entities.Offer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            OriginalValue
        </th>
        <th>
            Saving
        </th>
        <th>
            CurrentValue
        </th>
        <th>
            StartDateTime
        </th>
        <th>
            EndDateTime
        </th>
        <th>
            Description
        </th>
        <th>
            FinePrint
        </th>
        <th>
            Available
        </th>
        <th>
            Bought
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @String.Format("{0:F}", item.OriginalValue)
        </td>
        <td>
            @String.Format("{0:F}", item.Saving)
        </td>
        <td>
            @String.Format("{0:F}", item.CurrentValue)
        </td>
        <td>
            @String.Format("{0:g}", item.StartDateTime)
        </td>
        <td>
            @String.Format("{0:g}", item.EndDateTime)
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.FinePrint
        </td>
        <td>
            @item.Available
        </td>
        <td>
            @item.Bought
        </td>
    </tr>
}

</table>

