@model PraLoup.DataAccess.Entities.Promotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Promotion</legend>

    <div class="display-label">Available</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Available)
    </div>

    <div class="display-label">Taken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Taken)
    </div>

    <div class="display-label">MaxReferal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxReferal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
