@using PraLoup.WebApp.Utilities
@using PraLoup.WebApp.Resources
@inherits System.Web.Mvc.WebViewPage<PraLoup.WebApp.Models.Entities.Business>
<div class="business_name">
    <h4>@Html.DisplayFor(model => model.Name)</h4>

</div>
<div>
@Html.DisplayFor(model => model.Description)
</div>
<div>
    @LocStrings.BusinessCategory: @Html.DisplayFor(model => model.Category)
</div>
<div>
@Html.DisplayFor(model => model.Address)

</div>
<div>
    @Html.DisplayFor(model => model.Phone)
</div>
