@model IEnumerable<PraLoup.WebApp.Models.Entities.Promotion>

@{
    ViewBag.Title = "ViewPage1";
}

<h2>ViewPage1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Available
        </th>
        <th>
            MaxReferal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
