@model PraLoup.WebApp.Models.PromotionViewModel

<h2>ViewPage1</h2>

<fieldset>
    <legend>PromotionInstance</legend>
    <div class="editor-field">
        @Html.EditorFor(model => model.Event)
        @Html.ValidationMessageFor(model => model.Event)
    </div>

    <div class="display-label">Sender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sender)
    </div>

    <div class="display-label">Message</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

     <div class="display-label">Time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InviteDate)
    </div>

    <div class="display-label">Friends You've Invited</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invited)
    </div>
    
    <div class="display-label">Message to Friend You're Inviting</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InviteMessage)
    </div>
    
</fieldset>
